@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.main-cont {
  margin: 2rem auto;
  max-width: 1000px;
  font-family: Arial, sans-serif;
  @include flex-center;
  flex-direction: column;
}

.buttons-container {
  .chevron {
    font-size: 3rem;
  }

  button {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.8em;
    margin: 1rem;
    border-radius: 0.3em;
    background-color: rgb(255, 25, 25);
    text-transform: uppercase;
    border: none;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: rgba(255, 0, 0, 0.6);
    }
  }
}
